<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>france </title>
</head>
<body>
    <p>france</p>
    <a href="/"> click to go back Home</a>
    {{!-- <img src="../public/img/france.png" alt="france"> --}}
</body>
</html>